.fabric/
.mixin.out/
usercache.json
realms_persistence.json
options.txt
servers.dat*
Adorn-*/
Downloads/
Install/
coremods/
Backups/
crash-reports/
Instances/
logs/
saves/
screenshots/
texturepacks/
XaeroWaypoints/
XaeroWaypoints_*/
XaeroWorldMap/
*.log
icon.png